In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
d

{'a': 10, 'b': 20, 'c': 30}

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [12]:
# the key to using a series is using its index
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSE','Japan'])

In [13]:
ser1

USA        1
Germany    2
USSE       3
Japan      4
dtype: int64

In [14]:
ser2 = pd.Series([1,2,5,4],['USA','Germany', 'Italy','Japan'])

In [15]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [16]:
ser1['USA']

1

In [17]:
ser3 = pd.Series(data=labels)

In [18]:
ser3[0]

'a'

In [19]:
ser1 +ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSE       NaN
dtype: float64